AwfulNET.Phone/SampleData/SampleItemsSource/SampleItemsSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleItemsSource" targetNamespace="Expression.Blend.SampleData.SampleItemsSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleItemsSource" type="tns:SampleItemsSource" />
  <xs:complexType name="SampleItemsSource">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute name="Property1" type="xs:string" />
    <xs:attribute name="Property2" type="xs:boolean" />
  </xs:complexType>
</xs:schema>